./MOnSTER/data/Minc3.occurences.100first.txt
./MOnSTER/data/Minc3.occurences.30first.txt
./MOnSTER/data/datasets/Minc3.fasta
./MOnSTER/data/datasets/complete_datasets
./MOnSTER/data/datasets/minc_nr_negative_dataset.fasta
./MOnSTER/data/datasets/minc_nr_positive_dataset.fasta
